h1, h2, h3, h4, h5, h6, 
p, th, td, a, ul, em, i, strong, b,
.field__label, .field__item,
.field-content {
    font-family: "Lato", san-serif;
}

html, body {
    height: 100%;
}

body {
    color: #495164;
    background-color: #fff;
}

a {
    color: #f69232;
    text-decoration: none;
}

p, li {
    margin: .75em auto;
    line-height: 1.4em;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: oblique;
}

ul {
    margin-left: 20px;
    padding-left: 20px;
}

ul li {
    list-style: disc;
    margin: .5em auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em auto;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}
