h1, h2, h3, h4, h5, h6, 
p, th, td, a, ul, em, i, strong, b, label, input, .ds-search-extra,
.field__label, .field__item,
.field-content {
    font-family: "Lato", san-serif;
}

html, body {
    height: 100%;
}

body {
    color: $text-color;
    background-color: #fff;
}

a {
    color: $link-color;
    text-decoration: none;
}

p, li {
    margin: .75em auto;
    line-height: 1.4em;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

ul {
    margin-left: 10px;
    padding-left: 10px;
}

ul li {
    list-style: none;

    .field__item:before {
        content:"\203A\00A0";
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em auto;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}
