.front {



  .slick-media img {
    opacity: .5 !important;
  }

  .slick-media img:hover {
    opacity: 1 !important;
  }

  .slide__description {
    font-size: 28px;
    color: white;
    width: 60%;
    border-bottom: thin solid $link-color;
    padding-bottom: .5em;

    a {
      color: white;
      text-shadow: 1px 1px 7px black; 
    }
  }

.view-front-page-slideshow {
  margin-bottom: 60px;
}

#slick-carousel-slider {
  height: 400px;

    .slick__slide {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.65));
        margin-top: 1em;
        height: 400px;
      }

  ul.slick-dots {
    display: none !important;
  }

}


#slick-carousel-thumbnail {
  .slick-initialized ~ .slick__arrow {
    display: none !important;
  }
}

.view-front-page-links {
  .views-row {
    width: 33%;
    padding: 1em;
    display: inline-block;
  }

  .views-row-first {
    padding-left: 0;
  }

  .views-row-last {
    padding-right: 0;
  }
}

}