// Configures the site header & header menus
.header-wrapper {
    background: $header-color;
}

.l-header {
    color: white;
    min-height: 100px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 1em auto;

    a {
	text-decoration: none;
	color: white;
    }

    .sf-menu.sf-horizontal.sf-shadow ul,
    .sf-menu.sf-vertical.sf-shadow ul, 
    .sf-menu.sf-navbar.sf-shadow ul ul {
	background: $menu-bg-color;
    }

    input.form-submit {
    background: white;
    border: none;
    border-radius: 2px;
    color: $header-color;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: none;
    font-size: .75em;
}
}

.l-branding, .l-region--header,
#block-superfish-1, #block-search-form {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 1em;
}

h1.site-name {
    font-size: 24px;
    font-weight: normal;
}

#superfish-1 {
    li {
	list-style: none;
	display: inline-block;
	padding: 0 15px;
    }

    .nolink {
	cursor: pointer;
    }

    .sf-sub-indicator {
	top: 1.5em;
	right: 1.5em;
    }
}
