// contains styles that affect all pages
.node, .view-display-id-page {
    width: 1230px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.l-page {
    height: 100%;
}

.l-main {
    min-height: 600px;
    padding: 0 0 20px;
}
