.views-exposed-widget {
    & {
		margin-right: 10px;
    }

    &:last-child {
		margin-right: 0;
    }

    .fieldset-wrapper {
		display: none !important;
		position: absolute;
		background: #fff;
		border: 1px solid #ccc;
		padding: 15px 15px 15px 12px;
    }

    legend {
	    color: white;
		background: $link-color;
		margin-top: 0;
		padding: 5px;
		border-radius: 5px;

		a {
			color: white;
		}
    }

    &:hover .fieldset-wrapper {
		display: block !important;
    }

    .fieldset-legend {
		background: none !important;

		&:before {
		    content: "\25BE";
		    color: white;
		    position: absolute;
		    left: 6px;
		}
    }

    &:hover .fieldset-legend:before {
		content: "\25BE";
    }

    > .views-widget {
		padding-bottom: 2px;
    }

    &:hover > .views-widget {
		border-bottom: 0;
    }

    .fieldset-title {
		cursor: default;
    }
}

.views-exposed-form {
    .form-item {
	white-space: nowrap;
	margin-bottom: 5px;

		&:last-child {
		    margin-bottom: 0;
		}
    }

    label, input {
		cursor: pointer;
		vertical-align: middle;
    }

    input[type="submit"] {
		border: 0;
		font-size: 16px;
		color: $link-color;
		background: transparent;
		margin-top: 0;
		padding: 5px;
		border-radius: 5px;
    }

    .views-reset-button {
		padding-top: 7px;
    }
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
}

.view-id-case_studies .views-submit-button {
    margin: 0;
    padding: 0;
}

.views-exposed-form .views-exposed-widget {
	padding: .5em 0;
}